h2 {
    color: green;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  

  .notification{
    color: rgb(9, 10, 10);
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  a{
    color: rgb(30, 206, 230);
  }

  a:hover {
    color: green;
  }